<tr>
  <td class = "celltab100left"><%= question.body %></td>
  <td class = "celltab30center"><%= question.answers.count %></td>
  <td class = "s_e_d"><%= link_to 'Show', question_path(question) %></td>
  <td class = "s_e_d"><%= link_to 'Edit', edit_question_path(question) %></td>
  <td class = "s_e_d">
    <%= link_to 'Delete',
                question_path(question),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
  </td>
</tr>
