<h3>Edit question for test: <%= @question.test.title %></h3>

<%= render 'form', question: @question %>

<br>
<%= link_to 'Show', @question %>
<br>
<%= link_to "Back to: #{@question.test.title} all questions" , test_path(@question.test) %>
<br>
<%= link_to 'Back All Tests', tests_path %>
