<h2> Test: <%= @test.title %> </h2>
<table>
  <thead>
    <tr>
      <th colspan="5" class = "celltab30">id </th>
      <th colspan="5" class = "celltab100">QUESTIONS </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td colspan="5" class = "celltab30"><%= question.id %></td>
        <td colspan="5" class = "celltab100left"><%= question.body %></td>
        <td colspan="5" class = "s_e_d"><%= link_to 'Show', question %></td>
        <td colspan="5" class = "s_e_d"><%= link_to 'Edit', edit_question_path(question) %></td>
        <td colspan="5" class = "s_e_d"><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Create New Question To This Test ', new_test_question_path(@test) %><br>

<br>
