<h2><%= @question.test.title %></h2>
<p>
  <%= @question.body %>
</p>

<%= render 'answers/list' %>
<br>

<%= link_to 'Edit', edit_question_path %><br>
<%= link_to "Back to: #{@question.test.title} all questions" , test_questions_path(@question.test) %>
<%= link_to 'Back All Tests', tests_path %>
