<%= form_with model: [:admin, @badge], local: true do |form| %>
  <%= render 'shared/errors', resource: @badge %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name, id: :badge_name %>
  </p>
  <p>
    <%= form.label :file_image %><br>
    <%= form.text_field :file_image, id: :badge_file_image %>
  </p>
  <p>
    <%= form.label :level %><br>
    <%= form.text_field :level, id: :badge_level %>
  </p>
  <p>
    <%= form.label :rule %><br>
    <%= form.text_field :rule, id: :badge_rule %>
  </p>

<!--
  <p>
    <%= form.label :rule_type %>:<br>
    <%= form.select :rule_type, options_for_select([['category', 'category'],
                                                    ['attempt', 'attempt'],
                                                    ['level', 'level']]) %>
  </p>
 -->

  <p><%= form.submit %></p>
<% end %>
