<%= form_with model: [:admin, @badge], local: true do |form| %>
  <%= render 'shared/errors', resource: @badge %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name, id: :badge_name, class: 'form-control' %>
  </p>
  <p>
    <%= form.label :file_image %><br>
    <%= form.text_field :file_image, id: :badge_file_image, class: 'form-control' %>
  </p>
  <p>
    <%= form.label :rule %><br>
    <%= form.collection_select :rule, Badge::RULES, :first, :last, {selected: @badge.rule}, class: 'form-control' %>
  </p>

  <p><%= form.submit %></p>
<% end %>
