<h2><%= t('.title') %></h2>

<p><%= @answer.question.body %></p>

<%= render 'form', answer: @answer %>

<%= link_to t('show'), admin_answer_path(@answer) %> <br>
<%= link_to t('back'), admin_test_path(@answer.question.test) %>
