<h3><%= t('.question', body:  @answer.question.body) %></h3>

<p>
  <b><%= t('.answer') %></b>
  <%= @answer.body %>
</p>
<p>
  <b><%= t('.correct') %></b>
  <%= @answer.correct %>
</p>
<%= link_to t('back'), admin_question_path(@answer.question) %>
