<h3><%= t('.question_test', title: @question.test.title) %> </h3>
<p>
  <%= @question.body %>
</p>
<%= link_to t('edit') , edit_admin_question_path %><br>
<%= render 'answers' %>
<br>
<%= link_to t('.back_admin_test_path', name: @question.test.title), admin_test_path(@question.test) %>
<p class="style_gray">
  <%= link_to t('back_to_all_tests'), admin_tests_path %>
</p>
