<h3> <%= t('.header', title: @test.title) %> </h3>
<p>
  <%= t('.level')  %>
  <%= test_level(@test) %>
</p>

<p>
  <%= t('.category')  %>:
  <%= @test.category.title %>
</p>

<p>
  <strong><%= t('.author')  %> </strong>
  <%= @test.author.email %>
</p>

<%= link_to t('.edit_test') , edit_admin_test_path(@test) %>
<br>
<p class="style_gray">
  <%= link_to t('back_to_all_tests'), admin_tests_path %>
</p>
<br>
<h3><%= t('questions') %></h3>
 <%= render 'admin/questions/list', test: @test %>
