<tr>
  <td class = "celltab100left" ><%= test.title %></td>
  <td class = "celltab50left"><%= test_level(test) %></td>
  <td class = "celltab60center"><%= test.category.title %></td>
  <td class = "celltab30center"><%= test.questions.count %></td>
  <td class = "s_e_d"><%= button_to t('.start'), start_test_path(test) %></td>
  </td>
</tr>
