<h1> <%= t('.header') %> </h1>
<%= hello_user %>
<% if @tests.present? %>
  <table>
    <tr>
      <th class = "celltab100"><%= t('.title') %></th>
      <th class = "celltab50"><%= t('.level') %></th>
      <th class = "celltab60"><%= t('.category') %></th>
      <th class = "celltab30"><%= t('.questions') %></th>
    </tr>
    <%= render @tests %>
  </table>
<% else %>
  <p><%= t('.empty') %></p>
<% end %>
<br>
