<h3> Show test:  <%= @test.title %> </h3>
<p>
  <strong>Level:</strong>
  <%= test_level(@test) %>
</p>

<p>
  <strong>Category:</strong>
  <%= @test.category.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @test.author.first_name %>
</p>


<%= link_to 'Edit', edit_test_path(@test) %>
<br>
<%= link_to 'Back All Tests', tests_path %>
<br><br>
<%= render 'questions/list', test: @test %>
